.row {
  padding-top: 200px;
}
.row div {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}
.row ul {
  border: 1px solid black;
  list-style-type: none;
}
.row .own {
  background-color: grey;
}
